docutils~=0.16
py~=1.9.0
dnspython~=2.0.0
idna~=2.10
pip~=20.2.1
wheel~=0.34.2
keyring~=21.3.0
pytz~=2020.1
Babel~=2.8.0
pkginfo~=1.5.0.1
MarkupSafe~=2.0.0a1
pytest~=6.0.1
Sphinx~=3.1.2
packaging~=20.4
Jinja2~=3.0.0a1
imagesize~=1.2.0
enum34~=1.1.10
requests~=2.24.0
snowballstemmer~=2.0.0
Pygments~=2.6.1
attrs~=19.3.0
certifi~=2020.6.20
chardet~=3.0.4
wcwidth~=0.2.5
six~=1.15.0
coverage~=5.2.1
toml~=0.10.1
urllib3~=1.25.10
alabaster~=0.7.12
pyparsing~=3.0.0a2
setuptools~=49.2.1
zipp~=3.1.0