twython~=3.8.2
setuptools~=51.1.0
urllib3~=1.26.2
contentstack-utils
python-dateutil==2.8.1
requests>=2.20.0,<3.0
coverage==4.3.4
tox==2.5.0
virtualenv==15.1.0
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
pip~=22.0.4
build~=0.6.0.post1
# build==0.7.0
wheel~=0.35.1
py~=1.9.0
lxml~=4.6.2
utils~=1.0.1
keyring~=21.5.0
docutils~=0.16
pyparsing~=2.4.7
config~=0.5.1