twython~=3.9.1
setuptools~=62.1.0
urllib3~=1.26.2
contentstack-utils
python-dateutil==2.8.2
requests==2.31.0
coverage==6.3.2
tox==3.25.0
virtualenv==20.14.1
Sphinx==4.5.0
sphinxcontrib-websupport==1.2.4
pip~=22.0.4
build~=0.7.0
wheel~=0.37.1
py~=1.11.0
lxml~=4.8.0
utils~=1.0.1
keyring~=23.5.0
docutils==0.16
pyparsing~=3.0.8
config~=0.5.1